<ul>
    <li>
        <NavLink href="/">Home</NavLink>
    </li>
    <li>
        <NavLink href="/tasks">Tasks</NavLink>
    </li>
    <li>
        <NavLink href="/task/create">Create task</NavLink>
    </li>
</ul>

@code {

}
